body {
    background-color: rgb(23, 161, 115);
    color: rgb(236, 236, 236);
}

#navbar {
    padding-right: 25px;
    text-align: right;
    color: rgb(255, 255, 255);
}

#herobox {
    background-color: rgb(155, 155, 155);
    padding-bottom: 25px;
}

#herobox h1 {
    text-align: center;
    padding-top: 25px;
}

#herobox h3 {
    text-align: center;
}